@charset "utf-8";

/*-------------------- 基本設定 -------------------- */

*{
	font-family: "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro",Osaka,"ヒラギノ角ゴ Pro W3",sans-serif;
	color: #000;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #2082ba;
	text-align: center;
}

p,div,li,td,th,dt,dd,h2,h3,h4,h5{
	line-height: 1.6em;
}

img{
	border: none;
	vertical-align:bottom;
}

ul{
	list-style-position: outside;
}

a:link,a:visited{
	color: #3399cc;
}

a:hover,a:active{
	color: #ff0000;
}

/* 文字サイズ */

* html body{
    font-size: 100%;
}

* html body th,* html body td{
    font-size: 100%;
}

*:first-child+html body {
    font-size: 100%;
}

html>/**/body{
    font-size: 100%;
}

.f10{font-size: 100%;}
.f12{font-size: 100%;}
.f14{font-size: 117%;}
.f16{font-size: 134%;}
.f18{font-size: 150%;}
.f24{font-size: 200%;}

/* 文字色 */

.cRed{
	color: #ff0000;
}

/* クリアー */

.clearfix{
	zoom: 100%;
}

.clearfix:after{
	content: " ";
	clear: both;
	height: 0px;
	display: block;
	visibility: hidden;
}

.cItem{
	clear: both;
}

/*-------------------- ベース -------------------- */

#page{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	background-image: url(../images/page_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
}

#container{
	width: 860px;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
}

/*-------------------- ヘッダー -------------------- */

#header{
	position: relative;
	width: 860px;
	height: 110px;
	margin: 0px;
	padding: 0px;
}

.toph{
	background-image: url(../images/header_bg_top.gif);
	background-repeat: no-repeat;
}

#header h1{
	width: 860px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 84%;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: right;
	overflow: hidden;
}

#header #logo{
	position: absolute;
	top: 27px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

#gNavi{
	position: absolute;
	top: 41px;
	left: 258px;
	width: 602px;
	height: 47px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#gNavi li{
	float: left;
	display: inline;
	width: 151px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/navi_line.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#gNavi li.last{
	width: 149px;
	background-image: none;
}

/*-------------------- フッター -------------------- */

#footer{
	margin: 0px;
	padding: 0px;
	background-image: url(../images/footer_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #2082ba;
	text-align: center;
}

#fArea001{
	width: 860px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
}

#fArea001 div{
	float: right;
	display: inline;
	margin: 0px;
	padding: 0px;
}

#fArea001 p{
	float: left;
	display: inline;
	width: 758px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 100%;
	line-height: 30px;
	text-align: left;
	overflow: hidden;
}

#fArea001 p a{
	color: #fff;
}

#fArea001 p a:link,#fArea001 p a:visited{
	color: #fff;
}

#fArea001 p a:hover,#fArea001 p a:active{
	color: #a5d9f6;
}

#fArea002{
	margin: 0px 0px 10px;
	padding: 0px;
	background-image: url(../images/footer_line.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	text-align: center;
}

#fArea002 p{
	width: 860px;
	margin: 0px auto;
	padding: 10px 0px;
	color: #fff;
	font-size: 100%;
	text-align: left;
}

#fArea002 p a{
	color: #fff;
}

#fArea002 p a:link,#fArea002 p a:visited{
	color: #fff;
}

#fArea002 p a:hover,#fArea002 p a:active{
	color: #a5d9f6;
}

#fArea003{
	width: 860px;
	height: 30px;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
}

#fArea003 .fInfo{
	float: left;
	display: inline;
	/*width: 180px;*/
	margin: 0px;
	padding: 5px 15px 0px 0;
}

#fArea003 .fInfo h2{
	margin: 0px 0px 8px;
	padding: 0px 0px 5px;
	background-image: url(../images/footer_info_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	color: #7cc2e9;
	font-size: 130%;
	line-height: 1.2em;
}

#fArea003 .fInfo p{
	margin: 0px;
	padding: 0px;
	color: #7cc2e9;
	font-size: 100%;
	line-height: 1.4em;
}

#fArea003 #copyright{
	clear:both;
	text-align:right;
	/*float: right;
	display: inline;
	width: 500px;*/
	margin: 0px;
	padding: 0px 0 10px;
	color: #7cc2e9;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	text-align: right;
}

/*-------------------- トップ -------------------- */

#mainImage{
	margin: 0px 0px 5px;
	padding: 0px;
}

#contentTop{
	width: 860px;
	margin: 0px;
	padding: 0px 0px 20px;
}

#contentTop #main{
	float: left;
	display: inline;
	width: 620px;
	margin: 0px 20px 0px 0px;
	padding: 0px;
}

#contentTop #sub{
	float: left;
	display: inline;
	width: 220px;
	margin: 0px;
	padding: 0px;
}

/* ----- サービス ----- */

#topService{
	width: 620px;
	margin: 0px;
	padding: 0px;
}

#topService h2{
	margin: 0px 0px 15px;
	padding: 0px;
}

#topService ul{
	position: relative;
	width: 622px;
	margin: 0px -1px;
	padding: 0px;
	list-style-type: none;
}

#topService ul li{
	float: left;
	display: inline;
	width: 302px;
	margin: 0px 18px 19px 0px;
	padding: 0px;
	text-align: center;
}

#topService ul li.last{
	margin: 0px;
}

/* ----- お知らせ ----- */

/* #topNews{
	width: 220px;
	margin: 0px;
	padding: 0px;
} */

/* #topNews h2{
	margin: 0px 0px 15px;
	padding: 0px;
} */

/* #topNews dl{
	margin: 0px;
	padding: 0px;
} */

/* #topNews dl dt{
	width: 80px;
	margin: 0px 0px 5px;
	padding: 3px;
	background-color: #2082ba;
	color: #fff;
	font-size: 84%;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	text-align: center;
} */

/* #topNews dl dd{
	margin: 0px 0px 15px;
	padding: 0px;
	line-height: 1.4em;
} */

/* ----- カウント ----- */

.topcount{
	margin: 0px 0px 15px;
	padding: 0px;
	text-align: center;
}

.topcount span{
	padding: 1px 10px 2px;
	background-color: #000;
	line-height: 13px;
}

/*-------------------- セカンド -------------------- */

#content{
	width: 860px;
	margin: 0px;
	padding: 40px 0px;
	background-image: url(../images/sec_contents_bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}

#content #pageTitle{
	float: left;
	display: inline;
	width: 100px;
	margin: 0px 20px 0px 0px;
	padding: 0px;
}

#content #main{
	float: left;
	display: inline;
	width: 530px;
	margin: 0px 30px 0px 0px;
	padding: 0px;
}

#content #sub{
	float: left;
	display: inline;
	width: 180px;
	margin: 0px;
	padding: 0px;
}

/* 見出し */

#content #main h3{
	margin: 0px 0px 25px;
	padding: 0px;
}

#content #main h4{
	margin: 0px 0px 20px;
	padding: 10px 0px 0px;
}

/* 段落 */

p{
	margin: 0px 0px 15px;
	padding: 0px;
}

.pError{
	margin: 0px 0px 15px;
	padding: 10px;
	border: solid 1px #ff0000;
	color: #ff0000;
}

.photo001{
	float: right;
	display: inline;
	margin: 0px 0px 20px 20px;
	padding: 0px;
}

.photo002{
	float: left;
	display: inline;
	margin: 0px 20px 20px 0px;
	padding: 0px;
}

/* ブロック */

.block001{
	margin: 0px;
	padding: 0px;
}

/* テーブル */

.table001{
	width: 530px;
	margin: 0px 0px 15px;
	padding: 0px;
	border-collapse: collapse;
	border: none;
}

.table001 th{
	width: 130px;
	padding: 8px 10px;
	background-color: #eeeeee;
	border: solid 1px #ccc;
	line-height: 1.4em;
	text-align: center;
}

.table001 td{
	width: 357px;
	padding: 8px 10px;
	border: solid 1px #ccc;
	line-height: 1.4em;
}

.table002{
	float: left;
	width: 314px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border: none;
}

.table002 th{
	width: 70px;
	padding: 8px 10px;
	background-color: #eeeeee;
	border: solid 1px #ccc;
	line-height: 1.4em;
	text-align: center;
}

.table002 td{
	width: 201px;
	padding: 8px 10px;
	border: solid 1px #ccc;
	line-height: 1.4em;
}

/* ページトップ */

.ptop{
	margin: 0px 0px 20px;
	padding: 10px 0px;
	background-image: url(../images/line_001.gif);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: right;
}

/* ローカルナビゲーション */

#lNavi{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#lNavi li{
	margin: 0px 0px 5px;
	padding: 0px;
}

/*-------------------- 会社案内 -------------------- */

.mapList{
	width: 530px;
	margin: 0px 0px 15px;
	padding: 0px;
	list-style-type: none;
}

.mapList li{
	float: left;
	display: inline;
	width: 250px;
	margin: 0px 30px 15px 0px;
	padding: 0px;
	text-align: center;
}

.mapList li.li01{
	margin: 0px 0px 15px 0px;
}

.mapList li span{
	display: block;
	margin: 0px 0px 5px;
	padding: 0px;
}

#area002 ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
#area002 ul li {
	list-style-type: none;
}
/*-------------------- お問い合せ -------------------- */

.formTable{
	width: 530px;
	margin: 0px 0px 15px;
	padding: 0px;
	border-collapse: collapse;
	border: none;
}

.formTable th{
	width: 130px;
	padding: 8px 10px;
	background-color: #eeeeee;
	border: solid 1px #ccc;
	line-height: 1.4em;
	text-align: left;
}

.formTable th img{
	margin-left: 5px;
	vertical-align: middle;
}

.formTable td{
	width: 357px;
	padding: 8px 10px;
	border: solid 1px #ccc;
	line-height: 1.4em;
}

.formTable td span{
	display: block;
	margin: 0px;
	padding: 5px 0px 0px;
	color: #ff0000;
	font-size: 100%;
	line-height: 1.2em;
}

.formTable td .input001{
	width: 320px;
}

.formTable td .input002{
	width: 150px;
}

.formTable td textarea{
	width: 320px;
	font-size: 100%;
}

.btnArea{
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
}

.btnArea button{
	width: 202px;
	height: 42px;
	background-image: url(../../contact/images/mailform_btn_001.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	text-align: center;
	line-height: 42px;
	border: none;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.btnArea .btn01{
	background-image: url(../../contact/images/mailform_btn_002.gif);
}

.btnArea button span{
	color: #fff;
}



/* !Floats ------------------------------------------------------------------ */
.flL    { display: inline; float: left;}
.flR    { display: inline; float: right;}
.imgL { display: inline; float: left; margin-right: 10px; margin-bottom: 10px;}
.imgR { display: inline; float: right; margin-left: 10px; margin-bottom: 10px;}
.ftBox  { overflow: hidden; *zoom: 1;}

/* !Inline Align ------------------------------------------------------------ */
.left { text-align: left   !important;}
.center { text-align: center !important;}
.right { text-align: right  !important;}
.vaT { vertical-align: top    !important;}
.vaM { vertical-align: middle !important;}
.vaB { vertical-align: bottom !important;}

/* !Tools ------------------------------------------------------------------- */
.clear { clear: both;}
.block { display: block;}
.hide  { display: none;}
.bgN   { background: none !important;}
.tdU   { text-decoration: underline;}
.tdN   { text-decoration: none;}


/* !JavaScript -------------------------------------------------------------- */
.over { /* ロールオーバー呼び出し用 */ }
.js_popup_width_height  {}
.js_page_print   {}
.js_window_close {}


/* !Margin ------------------------------------------------------------------ */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt12 { margin-top:12px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mt70 { margin-top:70px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr12 { margin-right:12px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb12 { margin-bottom:12px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.ml00 { margin-left: 0   !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml12 { margin-left:12px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}
.ml_minus10 { margin-left:-10px !important;}

/* !Padding  ---------------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt12 { padding-top:12px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr12 { padding-right:12px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb12 { padding-bottom:12px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl12 { padding-left:12px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}
